@model  Practica7.WebApi.MVC.Models.EmployeesView
@{
    ViewBag.Title = "Agregar Empleado";
}

<div id="employeeForm">
    <div class="input-row">
        <table>
            <tr>
                <td>
                    <label for="firstName">Nombre:</label>
                </td>
                <td>
                    <input type="text" id="firstName" name="firstName" value="@Model.FirstName" />
                    @Html.ValidationMessageFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lastName">Apellido:</label>
                </td>
                <td>
                    <input type="text" id="lastName" name="lastName" value="@Model.LastName" />
                    @Html.ValidationMessageFor(model => model.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    <label for="title">Puesto Laboral:</label>
                </td>
                <td>
                    <input type="text" id="title" name="title" value="@Model.Title" />
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
        </table>

    </div>
    <div class="button-row">
        <button class="btn btn-success" id="addButton" disabled onclick="addEmployee()">Agregar</button>
        <button class="btn btn-secondary" onclick="closeAddEmployeeModal()">Cancelar</button>
    </div>
</div>


<script>
    // Función para habilitar o deshabilitar el botón de Agregar
    function toggleAddButton() {
        var firstName = document.getElementById("firstName").value;
        var lastName = document.getElementById("lastName").value;
        var title = document.getElementById("title").value;
        var addButton = document.getElementById("addButton");

        var isValid = (firstName.trim() !== "" && lastName.trim() !== "" && title.trim() !== "");

        if (isValid) {
            addButton.disabled = false;
        } else {
            addButton.disabled = true;
        }
    }
    document.getElementById('firstName').addEventListener('input', toggleAddButton);
    document.getElementById('lastName').addEventListener('input', toggleAddButton);
    document.getElementById('title').addEventListener('input', toggleAddButton);


    function addEmployee() {
        $.ajax({
            type: 'POST',
            url: '/Employees/Create',
            data: {
                firstName: $("#firstName").val(),
                lastName: $("#lastName").val(),
                title: $("#title").val()
            },
            success: function (data) {
                $('#employeeTableContainer').html(data);
                closeAddEmployeeModal();
                Swal.fire('Agregado', 'El nuevo registro se ha agregado correctamente', 'success');
            },
            error: function () {
                Swal.fire('Error', 'Hubo un error al agregar el nuevo registro', 'error');
            }
        });
    }
</script>